
[submodule "NDSL"]
	path = NDSL
	url = https://github.com/NOAA-GFDL/NDSL.git
	branch = develop
[submodule "pyFV3"]
	path = pyFV3
	url = https://github.com/jjuyeonkim/PyFV3.git
	branch = 20250408_rhwave
[submodule "pySHiELD"]
	path = pySHiELD
	url = https://github.com/NOAA-GFDL/PySHiELD.git
	branch = develop
